<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil do Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil do Aluno </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/Thais.jpg" width="300px" />
      <ion-card-header>
        <ion-card-title>Thaís Lima Menezes</ion-card-title>
        <ion-card-subtitle>Códio da Turma: ADS030N </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        23108165
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
